h1 {
    color: purple;
    font-size: 50px;
    text-align: center;
    
    }
body{
    background-image: url(https://media.istockphoto.com/illustrations/cloudy-sky-illustration-id1311857021?k=20&m=1311857021&s=612x612&w=0&h=6v5RrG6tVHnUjkUlHbB_lsZF-G952GLB9hkZ0PxS_D4=);
    background-size: cover;
    
    font-family: arial; 
    
    font-weight: bolder;
    }
    .imagec { 
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 3px;
        background-color: silver;
        border-color: black;
        border-width: 2px;
        border-style: solid;
        }
        a:hover{
            color: #F15A51;
            cursor:cell;
            
            }        
            
        
        h2{
        text-decoration: underline;
        text-align: center;
        color: red;
        }
        p.para1 {
            color: blue;
            font-size: 25px;
            
            }
            p.para2{
                color: purple;
                font-size: 25px;
                }
                h3{
                    color: green;
                }
.death{

    display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 3px;
        background-color: silver;
        border-color: black;
        border-width: 2px;
        border-style: solid;

}                
.note{
    color: white;
    background-color: black;
    font-size: 20px;
    line-height: 0.8rem;
    border-color:purple;
    border-width: 1px;
    
}