body{
    background-position: center;
    margin: 0;
    padding: 0;
    background: url(https://t4.ftcdn.net/jpg/04/60/71/01/360_F_460710131_YkD6NsivdyYsHupNvO3Y8MPEwxTAhORh.jpg);
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login{
width: 320px;
height: 420px;
background: #000;
color: #fff;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50% , -50%);
box-sizing: border-box;
padding: 70px 30px;
}


.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0%;
    padding: 0 0 20px;
    text-align: center;
    size: 34px;
}
.login p{
    margin: 0%;
    padding: 0%;
    font-weight: bold;
}
.login input{
    width: 100%;
    margin-bottom: 20px;
}
.login input[type="text"] , input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 40px;
    background: transparent;
    color: #fff;
    font-size: 15px;
}
.login input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login input[type="submit"]:hover
{
    cursor: pointer;
    background: yellow;
    color: #000;

}
@media (max-width:1024px)
{
    h1{
        margin: 0%;
        padding: 0 0 10px;
        text-align: center;
        size: 17px;
    }

    .login input{
        width: 50%;
        margin-bottom: 10px;
    }
    .login p{
        margin: 0%;
        padding: 0%;
        font-weight: bold;
    }

    .login{
        width: 160px;
        height: 210px;
        background: #000;
        color: #fff;
        top: 25%;
        left: 25%;
        position: absolute;
        transform: translate(-25% , -25%);
        box-sizing: border-box;
        padding: 40px 15px;
        }



        .avatar{
            width: 50px;
            height: 50px;
            border-radius: 25%;
            position: absolute;
            top: -25px;
            left: calc(25% - 25px);
        }





     .login input[type="submit"]
{
    border: none;
    outline: none;
    height: 20px;
    background: #fb2525;
    color: #fff;
    font-size: 9px;
    border-radius: 10px;
}



.login input[type="submit"]:hover
{
    cursor: pointer;
    background: yellow;
    color: #000;

}




}